h1{font-size: 50px;}
.half_width{width: 40%;float: left;margin-left: 5%;}
h4{padding-left: 60px; background-color: aquamarine; 
    width: 280px; padding: 10px;text-align: center;
    border-radius: 20px;

}

.header-banner{
    height: 500px;
    border: 1px solid red;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-image: url(images/header-bg.png);
}
.half_width img{width: 80%;}
.link_button{font-size: 15px; background-color: pink;border-radius: 5px; text-decoration: none; padding: 10px;}

.middle-banner{
    height: 500px;
    border: 1px solid red;
    margin-bottom: 10px;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.middle-banner img{width: 74%;}

.lower_portion{
    height: 500px;
    border: 1px solid red;
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.portfolio img{width: 30%;float: left;margin:20px; border: 2px solid red; border-radius: 10px;box-shadow: 10px 10px 10px #8f8e79;}
.text_al{text-align: center;}
#colo{
    width: 350px;
    border: 5px solid red;border-radius: 10px;
    background-color: green;
    padding: 20px;
    color: greenyellow;
    font-size: 20px;
    box-shadow: 10px 10px 10px #8f8e79;}

    .videosec{
        height: 30%;
        width: 50%;
        margin-left: 30%;
        padding: 10px;
        border: 5px solid rgb(64, 233, 22);
        border-radius: 20px;
        margin-bottom: 10px;}
    .newtablesec{
        height: 500px;
        border: 1px solid red;
        margin-bottom: 10px;
        background-image: url(images/biography-bg.png);
        background-repeat: no-repeat;
        padding: 10px;
    }
    td{border: 1px solid red; padding: 10px;}
    table{border-collapse: collapse;}
    .colored{color: red; text-align: center;}
